@charset "utf-8";

/* Noto Sans */ 
@font-face {
	font-family: 'notokr';
	font-style: normal;
	font-weight: 300;
	src: url('/resource/css/font/notokr-light.woff') format('woff');
}
@font-face {
	font-family: 'notokr';
	font-style: normal;
	font-weight: 350;
	src: url('/resource/css/font/notokr-demilight.woff') format('woff');
}
@font-face {
	font-family: 'notokr';
	font-style: normal;
	font-weight: 500;
	src: url('/resource/css/font/notokr-regular.woff') format('woff');
}
@font-face {
	font-family: 'notokr';
	font-style: normal;
	font-weight: 600;
	src: url('/resource/css/font/notokr-medium.woff') format('woff');
} 
@font-face {
	font-family: 'notokr';
	font-style: normal;
	font-weight: 700;
	src: url('/resource/css/font/notokr-bold.woff') format('woff');
}


html{font-size: 62.5%;}
body,p,input, textarea, select, button {padding:0; margin:0; font-family: 'notokr', 'Arial', AppleGothic, 'dotum', '돋움', sans-serif; line-height:1; color:#333; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust:100%;}

html, body {height:100%;}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}

fieldset {display:block; margin:0; padding:0; border:0;}
form {margin:0; padding:0;}

a {text-decoration:none;}
a[href^="tel"]{color:inherit; text-decoration:none;}
img {border:0; vertical-align:top;}
em, address {font-style:normal;}
table {width:100%; border-collapse:collapse;}
caption {overflow:hidden; visibility:hidden; position:absolute; width:0; height:0; font-size:0;}
input,button {-webkit-appearance:none; -webkit-border-radius:0; margin: 0; padding: 0; background: none; border: none;outline:0;}

.blind {overflow:hidden; visibility:hidden; position:absolute; width:0; height:0; font-size:0;}
.skip ul {margin:0; padding:0; list-style:none; z-index:100;}
.skip ul a {position:absolute; left:-100%;}
.skip ul a:focus {display:block; width:100%; height:3rem; line-height:3rem; top:0; left:0; background:#920400; color:#fff; text-align: center; z-index:999;}

h1, h2, h3, h4, h5, h6 {margin:0;}
ul, dl,dt,dd {padding:0; margin:0; list-style:none;}

/* ios 길게터치시 highilighting 막는 style */
body {-webkit-user-select: none; -webkit-touch-callout: none;}
* {box-sizing: border-box;}

:-ms-input-placeholder {color:#999; font-weight: 300;}
::-webkit-input-placeholder {color:#999; font-weight: 300;}
:-moz-placeholder {color:#999; font-weight: 300;}
::-moz-placeholder {color:#999; font-weight: 300;}

.body_color01 {background: #f8f8f8;}
.body_color02 {background: #009b9d;}

.body_color02 header {background: #009b9d;}

.content {overflow-y: auto; padding: 7rem 2rem 2rem; height:100%;} /* iphone x safe issue */
.content02 {overflow-y: auto; padding: 7rem 3rem 2rem;}
.content03 {overflow-y: auto; padding: 7rem 3rem 0;}

.box_type01 {margin-top: 2rem; background: #fff; border: 1px solid #ddd; border-radius: 0.6rem;}
.box_type01 .agree_txt01 {position: relative;}
.box_type01 .agree_txt01 input {position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(/resource/images/mobilebranch/icon_check02_off.png) no-repeat 1.4rem 1.1rem; background-size: 3rem 3rem;}
.box_type01 .agree_txt01 input.on {z-index: 1;}
.box_type01 .agree_txt01 input:checked {background: url(/resource/images/mobilebranch/icon_check02_on.png) no-repeat 1.4rem 1.1rem; background-size: 3rem 3rem;}
.box_type01 .agree_txt01 p {position: relative; height: 5.3rem; padding: 0 2rem; font-size: 1.7rem; color: #000; line-height: 5.3rem;}
.box_type01 .agree_txt01 input + p {text-align: center;}
.box_type01 .agree_txt01 p:after {content: ''; position: absolute; right: 2rem; top: 2rem; width: 0.7rem; height: 1.2rem; background: url(/resource/images/mobilebranch/icon_arrow01.png) no-repeat 0 0; background-size: 0.7rem 1.2rem;}

.box_type02 {padding: 2rem 2rem 2rem; background: #f3f9f9; border-radius: 0.6rem;}
.box_type02 + .box_type02,
.txt_type01 + .box_type02 {margin-top: 2rem;}
.txt_type08 + .box_type02 {margin-top: 3rem;}
.box_type02 .box_type02_txt01 {font-size: 2rem; color: #000; font-weight: 600;}
.box_type02 .box_type02_txt02 {margin-top: 0.7rem; font-size: 1.2rem; color: #000; font-weight: 300;}
.box_type02 .box_type02_list01 {padding-top: 2rem;}
.box_type02 .box_type02_list01 li {display: flex; justify-content: space-between; margin-top: 1.3rem; font-size: 1.3rem; letter-spacing: -0.25px;}
.box_type02 .box_type02_list01 li .tit {color: #999;}
.box_type02 .box_type02_list01 li .txt {text-align: right; color: #000;}
.box_type02 .box_type02_list02 {}
.box_type02 .box_type02_list02 li {display: flex; justify-content: space-between; margin-top: 2.2rem;}
.box_type02 .box_type02_list02 li:first-child {margin-top: 0;}
.box_type02 .box_type02_list02 li .tit {padding-top: 0.2rem; color: #333; font-size: 1.3rem; letter-spacing: -0.5px;}
.box_type02 .box_type02_list02 li .txt {text-align: right; color: #000; font-size: 1.2rem; letter-spacing: -0.25px;}
.box_type02 .box_type02_list02 li .txt strong {display: block; padding-bottom: 0.5rem; font-size: 1.8rem;}
.box_type02 .box_type02_list02 li .txt em {font-size: 1.5rem;}
.box_type02 .box_type02_list03 dt {padding-top: 2rem; font-size: 1.3rem; color: #999; text-align: center;}
.box_type02 .box_type02_list03 dd {padding-top: 0.3rem; font-size: 8rem; color: #000; text-align: center;}
.box_type02 .btn_area {margin-top: 3rem;}
.box_type02 .btn_area .btn_type02 {width: 100%;}

.box_type03 {padding: 2rem; background: #fff; border: 1px solid #ddd; border-radius: 0.6rem;}
.txt_type11 + .box_type03 {margin-top: 5.3rem;}
.box_type03 .txt_type06,
.box_type03 .txt_type11 {margin-top: 0;}

.box_type04 {position: relative; margin: 3rem -1rem 0; padding: 4rem 0;}
.box_type04:after {content: ''; position: absolute; left: -2rem; top: 0; width: calc(100% + 4rem); height: 12px; background: #f6f6f6;}
.box_type04 .tit {font-size: 1.6rem; color: #222;}

.box_type05 {margin-top: 1.2rem; border: 1px solid #ddd; padding: 2rem;}

.user_info {margin-top: 2rem;}
.txt_type01 + .user_info,.list_type01 + .user_info {margin-top: 4rem;}
.user_info > dt {margin-top: 5.8rem; font-size: 1.3rem; color: #999; font-weight: 350;}
.user_info > dt:first-child {margin-top: 0;}
.user_info > dd {margin: 0.9rem 0 0;}
.user_info > dd input.input_txt + .txt_type04 {margin-top: 1rem;}

/*키패드 대응 수정 2019-10-04 type pw > number*/
.user_pw {display: flex; justify-content: center; margin-top: 5rem;}
.user_pw input[type=number] {display: block; width: 1.6rem; height: 1.6rem; margin: 0 0.7rem; background: #008486; border-radius: 1.6rem; text-indent: -9999em; caret-color: transparent;}
.user_pw input[type=number].on {background: #fff;}


.tab_type01 {position: relative; display: flex; width: 100%;}
.tab_type01:after {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #f7f7f7; border: 1px solid #ddd; border-radius: 0.6rem; z-index: -1; box-sizing: border-box;}
.checkbox_type01 + .tab_type01 {margin-top: 2rem;}
.tab_type01 li {position: relative; width: 50%; min-height: 5.6rem;}
.tab_type01 li:after {content: ''; position: absolute; left: 0; top: 0; width: 1px; height: 100%; background: #ddd;}
.tab_type01 li:first-child:after {background: none;}
.tab_type01 li a {display: flex; align-items: center; justify-content: center; height: 100%; padding: 1.5rem 0; font-size: 1.6rem; line-height: 2.2rem; color: #777; text-align: center;}
.tab_type01 li a em {font-size: 1.3rem; font-weight: 300; letter-spacing: -0.5px;}
.tab_type01 li.on a {background: #fff; padding: 1.4rem 0; border: 1px solid #000; border-radius: 0.6rem; color: #000;}
.tab_type01 li.on:after,
.tab_type01 li.on + li:after {background: none;}

.tab_cont_type01 {position: relative; padding: 2.4rem 2rem 2rem; border: 1px solid #ddd; border-top: none; border-radius: 0 0 0.6rem 0.6rem;}
.tab_cont_type01:after {content: ''; position: absolute; left: -1px; top: -6px; width: 100%; height: 6px; border-left: 1px solid #ddd; border-right: 1px solid #ddd; z-index: -1;}
.tab_cont_type01 p {font-size: 1.3rem; color: #777; line-height: 2rem; text-align: center;}
.tab_cont_type01 dl {margin-top: 1.6rem; padding-top: 1.8rem; border-top: 1px solid #ddd;}
.tab_cont_type01 dl dt {font-size: 1.6rem; color: #222; font-weight: 600;}
.tab_cont_type01 dl dd {display: flex; margin-top: 1.1rem; font-size: 1.5rem; color: #333; line-height: 2.2rem; letter-spacing: -0.25px;}
.tab_cont_type01 dl dd .zip_code {width: 5.5rem; flex: 1}/* 2019-10-08 수정 */
.tab_cont_type01 dl dd .address {flex: 3}/* 2019-10-08 추가 */
.tab_cont_type01 .btn_area {padding-top: 2rem; border-top: 1px solid #ddd; text-align: center;}
.tab_cont_type01 .btn_area .btn_type02 {display: inline-block; width: auto;}

.input_cont {position: relative; display: flex; }
.btn_area + .input_cont {margin-top: 2.5rem;}
.input_cont span {display: block; min-width: 3rem; font-size: 2rem; line-height: 4rem; text-align: center; color: #999;}
.input_cont em {position: absolute; right: 0.5rem; top: 1.2rem; font-size: 2rem; color: #009b9d;}
.input_cont_tel {justify-content: space-between; margin-top: 2.7rem;}
.input_cont_tel .selectbox {width: calc(30% - 1.5rem); min-width: calc(30% - 1.5rem);}
.input_cont_tel .input_txt {width: calc(70% - 1.5rem); min-width: calc(70% - 1.5rem);}

input.input_txt {width: 100%; min-width: calc(50% - 1.5rem); height: 4rem; border-bottom: 1px solid #ddd; font-size: 2rem; color: #000;}
input.input_txt.selected {border-bottom: 1px solid #000;}

.checkbox_cont {display: inline-block; padding-left: 15px; text-indent: -15px; color: #777; font-size: 1.3rem; letter-spacing: -0.5px; line-height: 2rem;}
.checkbox_cont + .checkbox_cont {margin-top: 0.5rem;}
.checkbox_normal {-webkit-appearance: checkbox; vertical-align: middle;}

.checkbox_type01 {margin-top: 6rem;}
.checkbox_type01 label {display: block; position: relative; z-index: 1;}
.checkbox_type01 input[type=checkbox] {position: absolute; left: 0; top: 0; width: 3rem; height: 3rem; background: url(/resource/images/mobilebranch/icon_check02_off.png) no-repeat 0 0; background-size: 3rem 3rem;}
.checkbox_type01 input[type=checkbox]:checked {background: url(/resource/images/mobilebranch/icon_check02_on.png) no-repeat 0 0; background-size: 3rem 3rem;}
.checkbox_type01 p {position: relative; padding: 0.6rem 0 0.8rem 4rem; background: url(/resource/images/mobilebranch/icon_arrow01.png) no-repeat 100% 50%; background-size: 0.7rem 1.2rem; font-size: 1.6rem; color: #333; font-weight: 500;}

button.selectbox {width: 100%; min-width: calc(50% - 1.5rem); height: 4rem; padding-right: 2.5rem; background: url(/resource/images/mobilebranch/icon_arrow03.png) no-repeat right 50%; background-size: 1.1rem 0.6rem; border-bottom: 1px solid #ddd; font-size: 2rem; color: #999; text-align: right;}
button.selectbox.on { border-bottom: 1px solid #000; color: #010101; text-align: left;}

.txt_type01 {font-size: 1.6rem; line-height: 2.2rem; letter-spacing: -0.25px;}
.list_type02 + .txt_type01 {margin-top: 4rem;}
.txt_type02 {margin-top: 2rem; font-size: 1.3rem; line-height: 2rem; letter-spacing: -0.3px; color: #777;}
.txt_type01  + .txt_type02 {margin-top: 1rem;}
.txt_type03 {margin-top: 1rem; padding-top: 4.5rem; background: url(/resource/images/mobilebranch/complete.gif) no-repeat 50% 0; background-size: 4rem 4rem;  font-size: 1.3rem; color: #666; letter-spacing: -0.25px; font-weight: 300; line-height: 2.2rem; text-align: center;}
.txt_type03 strong {font-size: 2.3rem; color: #000; font-weight: 500;}
.txt_type04 {margin-top: 2rem; font-size: 1.3rem; line-height: 2rem; letter-spacing: -0.3px; color: #333; font-weight: 500;}
.txt_type05 {font-size: 1.8rem;}
.txt_type06 {margin-top: 1.5rem; font-size: 1.5rem; color: #333; font-weight: 300; letter-spacing: -0.25px;}
.txt_type06 span {font-weight: 600;}
.txt_type07 {font-size: 1.3rem; letter-spacing: -0.3px; color: #333; font-weight: 300; text-align: right;}
.txt_type07 span {font-weight: 600;}
.txt_type08 {font-size: 1.6rem; color: #333; letter-spacing: -0.25px; text-align: center;}
.txt_type09 {margin-top: 2rem; font-size: 1.3rem; color: #555; letter-spacing: -0.25px; text-align: center;}
.txt_type09 a {padding-right: 0.9rem; background: url(/resource/images/mobilebranch/icon_arrow04.png) no-repeat 100% 50%; background-size: 0.5rem 0.9rem; color: #555;}
.txt_type10 {padding-top: 19.6rem; background: url(/resource/images/mobilebranch/bg01.png) no-repeat 50% 6rem; background-size: 13.3rem 9.3rem; text-align: center; font-size: 2rem; font-weight: 300; color: #000; line-height: 3.3rem;}
.txt_type10 em {font-weight: 500;}
.txt_type11 {margin-top: 3rem; font-size: 1.3rem; line-height: 2rem; letter-spacing: -0.25px; color: #777; text-align: center;}
.txt_type11 em {display: block; margin-top: 5px; color: #000;}
.txt_type12 {margin-top: 1rem; font-size: 1.3rem; letter-spacing: -0.25px; color: #e2136b;}
.txt_type13 {margin-top: 1rem; font-size: 1.3rem; letter-spacing: -0.25px; color: #000;}
.txt_type14 {margin-top: 1rem; font-size: 1.3rem; line-height: 2rem; letter-spacing: -0.5px; color: #777; text-align: right;}
.txt_type15 {margin-top: 3.5rem; font-size: 2rem; line-height: 3.2rem; letter-spacing: -0.25px; color: #fff; text-align: center;}
.txt_type16 {padding-top: 19.6rem; background: url(/resource/images/mobilebranch/bg02.png) no-repeat 50% 6rem; background-size: 13.3rem 9.3rem; text-align: center; font-size: 2rem; font-weight: 300; color: #000; line-height: 3.3rem;}
.txt_type16 em {position: relative; font-weight: 500;}
.txt_type16 em:after {content: ''; position: absolute; left: 0; bottom: 0; width: calc(100% + 2.2rem); height: 1px; background: #000;}

.txt_point01 {font-size: 1.5rem !important; color: #000 !important; font-weight: 600 !important;}
.txt_point02 {text-decoration: underline;}

.list_type01 {margin-top: 1.7rem; padding: 0 1.9rem; background: #fff; border: 1px solid #ddd; border-radius: 0.6rem;}
.box_type02 + .list_type01 {margin-top: 4rem;}
.list_type01 li {display: flex; justify-content: space-between; padding: 1.3rem 0; border-top: 1px solid #f6f6f6; line-height: 1.8rem;}
.list_type01 li:first-child {border-top: none;}
.list_type01 li .tit {font-size: 1.3rem; color: #999; letter-spacing: -0.25px;}
.list_type01 li .txt {font-size: 1.4rem; color: #000; text-align: right; font-weight: 500;}
.list_type01 li .txt span {font-size: 1.2rem; color: #000;}

.list_type02 li,
.list_type03 li,
.list_type04 li,
.list_type05 li,
.list_type14 li,
.list_type15 li {color: #777; font-size: 1.3rem; letter-spacing: -0.25px; line-height: 2rem;}

.list_type02 > li {position: relative; padding-left: 8px; text-indent: 0;}
.list_type02 > li:after {content: ''; position: absolute; left: 0; top: 0.7rem; width: 3px; height: 3px; background: #777; border-radius: 3px;}

/* 2019.09.25 추가 */
.list_red > li:after {content: ''; position: absolute; left: 0; top: 0.7rem; width: 3px; height: 3px; background: #e2136b; border-radius: 3px;}
.list_red > li {color:#e2136b;}

.list_type14 + .list_type02,.box_type02 + .list_type02 {margin-top: 1.6rem;}

.list_type03 {margin-top: 2.4rem;}
.list_type03 > li {position: relative; padding-left: 8px; font-weight: 600;}
.list_type03 > li:after {content: ''; position: absolute; left: 0; top: 0.7rem; width: 4px; height: 4px; background: #777;}

.list_type04 > li {position: relative; padding-left: 15px;}
.list_type04 > li:after {content: ''; position: absolute; left: 0; top: 0.4rem; width: 10px; height: 10px; border: 1px solid #777;}

.list_type05 > li {position: relative; padding-left: 6px;}
.list_type05 > li:after {content: ''; position: absolute; left: 0; top: 0.8rem; width: 3px; height: 1px; background: #777;}

.list_type06 {border: 1px solid #ddd; border-radius: 0.6rem;}
.txt_type01 + .list_type06 {margin-top: 1.7rem;}
.list_type06 li {border-top: 1px solid #ddd;}
.list_type06 li:first-child {border-top: none;}
.list_type06 li .checkbox {display: block; position: relative;}
.list_type06 li .checkbox input[type=checkbox] {position: absolute; left: 2.1rem; top: 2.6rem; width: 3rem; height: 3rem; background: url(/resource/images/mobilebranch/icon_check02_off.png) no-repeat 0 0; background-size: 3rem 3rem;}
.list_type06 li .checkbox input[type=checkbox]:checked {background: url(/resource/images/mobilebranch/icon_check02_on.png) no-repeat 0 0; background-size: 3rem 3rem;}
.list_type06 li .checkbox p {position: relative; height: 8.3rem; padding: 2.4rem 0 0 6.6rem; font-size: 1.2rem; color: #777; font-weight: 300;}
.list_type06 li .checkbox input[type=checkbox]:checked + p {color: #000;}
.list_type06 li .checkbox p em {font-size: 1.6rem; line-height: 2.5rem; font-weight: 500;}
.list_type06 li .flex_cont {display: flex; align-items: center;}
.list_type06 li .txt_cont {width: calc(100% - 14rem); padding: 2.5rem 0 2.5rem 2rem;}
.list_type06 li .txt_cont .txt01 {font-size: 1.3rem; color: #999; letter-spacing: -0.25px;}
.list_type06 li .txt_cont .txt02 {margin-top: 1rem; font-size: 1.3rem; color: #000; letter-spacing: -0.25px; line-height: 2rem; font-weight: 300;}
.list_type06 li .txt_cont .txt03 {margin-top: 0.7rem; font-size: 1.8rem; color: #000;}
.list_type06 li .btn {width: 14rem; padding: 0 1.9rem;}
.list_type06 li .btn .btn_type01 {height: 4rem; font-size: 1.3rem; line-height: 4rem;}

.list_type07 {margin-top: 2rem; padding: 0 2.3rem 2.4rem; background: #fff; border: 1px solid #ddd; border-radius: 0.6rem;}
.list_type07 dt {margin-top: 1.2rem; padding-top: 1.2rem; border-top: 1px solid #f6f6f6; font-size: 1.5rem; font-weight: 500; letter-spacing: -0.25px; line-height: 1.8rem;}
.list_type07 dt:first-child {border-top: none;}
.list_type07 dd {padding-top: 0.2rem; font-size: 1.3rem; font-weight: 300; color: #777; letter-spacing: -0.25px; line-height: 1.8rem;}

.list_type08 {font-size: 1.5rem; font-weight: 300;}
.list_type08 dt {margin-top: 2rem; color: #009b9d;}
.list_type08 dd {margin-top: 0.8rem; color: #333;}

.list_type09 {padding-top: 1rem;}
.list_type09 > li {margin-top: 1rem;}

.list_type10 {padding: 1.5rem 2rem 3rem; border-top: 1px solid #ddd;}
.list_type10 li {margin-top: 1.5rem; background: url(/resource/images/mobilebranch/icon_arrow02.png) no-repeat 100% 50%; background-size: 0.5rem 0.8rem;}
.list_type10.type02 li {background: none;}
.list_type10 li label {display: block; position: relative;}
.list_type10 li input {position: absolute; left: 0; top: 0.7rem; width: 1.5rem; height: 1rem; background: url(/resource/images/mobilebranch/icon_check01_off.png) no-repeat 0 0; background-size: 1.5rem 1rem;}
.list_type10 li input:checked {background: url(/resource/images/mobilebranch/icon_check01_on.png) no-repeat 0 0; background-size: 1.5rem 1rem;}
.list_type10 li p {padding-left: 2.5rem; font-size: 1.3rem; color: #333; line-height: 2.2rem; font-weight: 500;}
.list_type10 li p span {color: #777;}

.list_type11 {padding-top: 0.5rem;}
.list_type11 li {display: flex; margin-top: 0.7rem; font-size: 1.3rem; line-height: 1.8rem; letter-spacing: -0.5px;}
.list_type11 li .tit {width: 4.5rem; color: #009b9d;}
.list_type11 li .txt {width: calc(100% -  4.5rem); color: #333;}

.list_type12 {margin-top: 1rem;}
.list_type12 > li {position: relative; padding-left: 8px; font-size: 1.3rem; line-height: 2rem; color: #222;}
.list_type12 > li:after {content: ''; position: absolute; left: 0; top: 0.8rem; width: 3px; height: 3px; background: #222; border-radius: 3px;}

.list_type13 {font-size: 1.3rem; line-height: 2rem; letter-spacing: -0.5px;}
.list_type13 dt {margin-top: 2.5rem; font-weight: 600; color: #000;}
.list_type13 dt input {width: 1.6rem; height: 1.6rem; margin-right: 0.4rem; background: #f6f6f6; border: 1px solid #ddd; vertical-align: middle;}
.list_type13 dd {margin-top: 1rem; padding-left: 2.2rem; color: #777;}
.list_type13 dd .txt01 {font-weight: 600;}
.list_type13 dd .txt02 {margin-top: 0.5rem;}

.list_type14 > li {margin-top: 1.5rem; padding-left: 1.5rem; text-indent: -1.5rem;}

.layer_agree h3 + .list_type15 {margin-top: 1.5rem;}
.list_type15 > li {padding-left: 1.2rem; text-indent: -1.2rem;}

.list_type16 > dt {margin-top: 3rem; font-size: 1.3rem; color: #777; line-height: 2rem; letter-spacing: -0.25px;}
.list_type16 > dd {margin-top: 1.2rem; border: 1px solid #ddd; padding: 2rem;}

.list_type17 > dt {margin-top: 2.5rem; font-size: 1.3rem; color: #333; line-height: 2rem; letter-spacing: -0.25px;}
.list_type17 > dt:first-child {margin-top: 0;}
.list_type17 > dd {margin-top: 0.5rem; color: #777; font-size: 1.3rem; letter-spacing: -0.5px; line-height: 2rem;}

.list_type18 > dt {position: relative; margin-top: 1.5rem; padding-left: 8px; font-weight: 600;}
.list_type18 > dt:after {content: ''; position: absolute; left: 0; top: 0.8rem; width: 4px; height: 4px; background: #777;}
.list_type18 > dd {margin-top: 0.5rem; padding-left: 8px;}

.list_type19 > li {position: relative; margin-top: 1.5rem; padding-left: 8px;}
.list_type19 > li:after {content: ''; position: absolute; left: 0; top: 0.7rem; width: 4px; height: 4px; background: #777;}

.banner_list {overflow: hidden; position: relative; width: 26rem; height: 10rem; margin: 3.5rem auto 0; border: 1px solid #ddd; border-radius: 1rem;}
.banner_list:before {content: ''; position: absolute; left: 0; top: 0; width: 2.5rem; height: 100%; background: url(/resource/images/mobilebranch/bg_banner01.png) repeat-y 0 0; background-size: 2.5rem 0.1rem; z-index: 1;}
.banner_list:after {content: ''; position: absolute; right: 0; top: 0; width: 2.5rem; height: 100%; background: url(/resource/images/mobilebranch/bg_banner02.png) repeat-y 0 0; background-size: 2.5rem 0.1rem; z-index: 1;}
.banner_list .banner_cont {position: relative; width: 100%;}
.banner_list .banner_cont p {display: flex; align-items: center; width: 26rem; height: 10rem; padding: 0 0 0 12.4rem; font-size: 1.5rem; line-height: 2.1rem; letter-spacing: -0.25px; color: #000;}
.banner_list .banner_cont .banner01 { background: url(/resource/images/mobilebranch/img_banner01.png) no-repeat 2.5rem 2.3rem; background-size: 8.3rem 5.2rem;}
.banner_list .banner_cont .banner02 { background: url(/resource/images/mobilebranch/img_banner02.png) no-repeat 2.5rem 2.3rem; background-size: 7.9rem 5.2rem;}

.loading {position: relative; padding-top: 29rem;}
.loading .circle {position: absolute; top: 110px; left: 50%; margin-left: -65px; width: 130px; height: 130px;}
.loading .circle span {position: absolute; left: 0; top: 145px; width: 100%; text-align: center; font-size: 1.6rem; color: #000;}
.loading .paper {position: absolute; top: 140px; left: 50%; margin-left: -4rem;} /* 20191129 수정 */
.loading .paper div {position: absolute; left: 0; top: 0; width: 8rem; height: 4.8rem; background: url(/resource/images/mobilebranch/img_paper.png) no-repeat 0 0; background-size: 8rem 4.8rem;}
.loading .paper div:nth-child(1) {top: 2.4rem;}
.loading .paper div:nth-child(2) {top: 1.6rem;}
.loading .paper div:nth-child(3) {top: 0.8rem;}
.loading .paper div:nth-child(4) {top: 0;}
.loading .paper div:nth-child(1),
.loading .paper div:nth-child(2),
.loading .paper div:nth-child(3),
.loading .paper div:nth-child(4) { opacity: 0; transform: translateY(-20%); transition: transform 1s, opacity 1s;}
.loading .paper div:nth-child(1).on,
.loading .paper div:nth-child(2).on,
.loading .paper div:nth-child(3).on,
.loading .paper div:nth-child(4).on {transform: translateY(0); opacity: 1;}
.loading p {font-size: 2rem; line-height: 3.2rem; color: #000; font-weight: 300; text-align: center;}
.loading p span {font-weight: 500;}

.table_type01 {margin-top: 2rem; text-indent: 0;}
.list_type02 + .table_type01 {margin-top: 0.5rem;}
.table_type01 th,
.table_type01 td {padding: 1.5rem; border: 1px solid #ddd; font-size: 1.3rem; letter-spacing: -0.25px; line-height: 2rem;}
.table_type01 th {padding: 1.5rem 0; background: #f7f7f7; color: #000; font-weight: 600; text-align: center;}
.table_type01 td {color: #777;}
.table_type01 td.txt_right {text-align: right;}
.table_type01 td.txt_center {text-align: center;}
.table_type01 td.txt_point {color: #000; font-weight: 600;}

.btn_area {margin-top: 2rem;}
.txt_type04 + .btn_area {margin-top: 1rem;}
.search_box + .btn_area,
.input_cont + .btn_area {margin-top: 3rem;}
.btn_btm_fix {
	width: 100%; margin-top: 0; padding: 0 2rem 2rem; padding: 0 2rem calc(2rem + constant(safe-area-inset-bottom)); padding: 0 2rem calc(2rem + env(safe-area-inset-bottom)); background: #fff; 
}  /* iphone x safe issue */
.body_color01 .btn_btm_fix {background: #f8f8f8;}
.content02 + .btn_area { padding: 0 3rem 2rem;}
.btn_close {position: absolute; right: 2rem; top: 1.5rem; width: 1.7rem; height: 1.7rem; background: url(/resource/images/mobilebranch/btn_close01.png) no-repeat 0 0; background-size: 1.7rem 1.7rem; font-size: 0;}
.btn_type01 {display: block; width: 100%; height: 5.6rem; background: #009b9d; border-radius: 0.6rem; font-size: 1.7rem; color: #fff; font-weight: 500; line-height: 5.6rem; text-align: center;}
.btn_type01.disabled {background: #ddd; pointer-events: none;}
.btn_type02 {display: block; width: 100%; height: 4rem; padding: 0 2.3rem; background: #fff; border: 1px solid #009b9d; border-radius: 0.6rem; font-size: 1.3rem; color: #009b9d; line-height: 4rem; text-align: center;}
.btn_type03 {display: block; width: 100%; height: 5.6rem; background: #d9f6f6; border-radius: 0.6rem; font-size: 1.7rem; color: #009b9d; font-weight: 0500; line-height: 5.6rem; text-align: center;}
.btn_type04 {display: block; width: 100%; height: 4.5rem; border: 1px solid #ddd; border-radius: 0.6rem; font-size: 1.3rem; color: #000; font-weight: 500; line-height: 4.5rem; text-align: center;}
.btn_type04 .icon_android {padding-left: 2rem; background: url(/resource/images/mobilebranch/icon_android.png) no-repeat 0 50%; background-size: 1.2rem 1.3rem;}
.btn_type04 .icon_ios {padding-left: 2rem; background: url(/resource/images/mobilebranch/icon_ios.png) no-repeat 0 50%; background-size: 1.2rem 1.5rem;}
.btn_area_type01 {display: flex; justify-content: space-between;}
.btn_area_type01 .btn_type01 {width: calc(64% - 0.3rem);}
.btn_area_type01 .btn_type03 {width: calc(36% - 0.3rem);}
.btn_area_type02 {display: flex; justify-content: space-between;}
.btn_area_type02 .btn_type01,.btn_area_type02 .btn_type03,.btn_area_type02 .btn_type04 {width: calc(50% - 0.3rem);}

.tooltip {position: relative; width: 2rem; height: 1rem; margin-left: 0.6rem;}
.tooltip button {position: absolute; left: 0; top: 0; width: 2rem; height: 2rem; background: url(/resource/images/mobilebranch/icon_tooltip.png) no-repeat 0 0; background-size: 2rem 2rem; font-size: 0;}

.layer_wrap {display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 1;}
.layer_wrap .layer_bg {position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: 0.2;}
.layer_wrap .layer_header {height: 6.1rem; padding-left: 2rem; border-bottom: 1px solid #ededed; font-size: 1.7rem; font-weight: 600; color: #000; line-height: 6.1rem;}
.layer_wrap .layer_container {position: absolute; left: 0; bottom: 2rem; width: 100%; background: #fff; border-radius: 1rem; transform: translateY(120%); transition: 0.5s;}
.layer_wrap.on .layer_container {transform: translateY(0);}
.layer_wrap .layer_container .list_select {overflow-y: auto; max-height: 27.5rem;}
.layer_wrap .layer_container .list_select li {}
.layer_wrap .layer_container .list_select li button {width: 100%; height: 50px; font-size: 1.6rem; color: #000; text-align: center; line-height: 2rem;}
.layer_wrap .layer_container .list_select li button:hover,
.layer_wrap .layer_container .list_select li.on button {background: #f6f6f6;}
.layer_wrap .layer_container .layer_cont { padding: 2rem;}
.layer_wrap .layer_container .layer_cont_tooltip { padding: 5.7rem 4rem 4rem;}
.layer_wrap .layer_container .layer_txt01 {padding-top: 3rem; font-size: 1.6rem; color: #333; line-height: 2.6rem; letter-spacing: -0.25px; text-align: center;}
.layer_wrap .layer_container .layer_txt02 {display: block; font-size: 1.6rem; text-align: center; color: #000; font-weight: 600;}
.layer_wrap .layer_container .layer_txt03 {margin-top: 1.7rem; font-size: 1.3rem; text-align: center; color: #777; line-height: 1.8rem; letter-spacing: -0.25px;}
.layer_wrap .layer_container .btn_area {margin-top: 3rem;}
.layer_wrap .layer_container .btn_layer_close {position: absolute; right: 2rem; top: 2rem; width: 1.7rem; height: 1.7rem; background: url(/resource/images/mobilebranch/btn_layer_close.png) no-repeat 0 0; background-size: 1.7rem 1.7rem; font-size: 0;}

.full_layer_wrap {display: none; position: fixed; left: 0; top:0; width: 100%; height: 100%; background: #fff; z-index: 1;}
.full_layer_wrap .full_layer_header {position: fixed; width: 100%; height: 5rem; padding: 0 2rem; background: #fff; z-index: 1;}
.full_layer_wrap .full_layer_header h1 {padding-top: 1.4rem; font-size: 1.7rem; font-weight: 600; text-align: center; color: #000;}
.full_layer_cont {overflow-y: auto; height: 100%; padding: 5rem 0 10rem;}
.full_layer_cont02 {padding: 0;}

.layer_agree {padding: 3rem 2rem 0; color: #777; color: #777; font-size: 1.3rem; letter-spacing: -0.5px; line-height: 2rem;}
.layer_agree + .layer_agree {margin-top: 4.6rem; padding-top: 4.4rem; border-top: 1px solid #ddd;}
.layer_agree h1 {font-size: 2.2rem; letter-spacing: -0.5px; color: #000; font-weight: 700; text-align: center; line-height: 3rem;}
.layer_agree h2 {margin-top: 4rem; font-size: 1.6rem; letter-spacing: -0.5px; color: #000; font-weight: 600; line-height: 2rem;}
.layer_agree h3 {margin-top: 3rem; font-size: 1.3rem; color: #000; letter-spacing: -0.25px;}
.layer_agree h1 + h2,.layer_agree h1 + p {margin-top: 2rem;}
.layer_agree h3 + p,.layer_agree h2 + p,.layer_agree h2 + ul,.layer_agree p + h2 {margin-top: 1.5rem;}
.layer_agree p {color: #777; font-size: 1.3rem; letter-spacing: -0.5px; line-height: 2rem;}
.list_type16 + p {margin-top: 2.5rem;}
.table_type01 + p,
.box_type05 + p {margin-top: 1rem;}

.layer_agree_txt01 {margin-top: 3.2rem; padding: 2.5rem 2.2rem; border: 1px solid #ddd; border-radius: 0.6rem;}
.layer_agree_txt01 strong {display: block; font-size: 1.6rem; color: #000; letter-spacing: -0.3px; line-height: 2rem; font-weight: 600;}
.layer_agree_txt01 p {font-size: 1.3rem; letter-spacing: -0.3px; line-height: 2rem;}
.layer_agree_txt01 strong + p {margin-top: 0.5rem;}
.layer_agree_txt01 + h2,.layer_agree_txt01 + p {margin-top: 2.5rem;}

.layer_agree_list01 dt {margin-top: 1.5rem; padding-left: 1.5rem; text-indent: -1.5rem; font-size: 1.3rem; letter-spacing: -0.5px; font-weight: 600; line-height: 2rem;}
.layer_agree_list01 dd {padding: 0.7rem 0 0 1.5rem;}
.layer_agree_list01 dd ul + p {margin-top: 0.5rem;}

.layer_address_search {padding: 8rem 2rem 0}
.layer_address_search .search_box {position: relative; margin-top: 3.7rem; padding-bottom: 4rem;}
.layer_address_result .box_type03 + .search_box {margin-top: 0.8rem;}
.layer_address_search .search_box input {height: 5rem;}
.layer_address_search .search_box button {position: absolute; right: 0; top: 0; width: 6.2rem; height: 5rem; background: url(/resource/images/mobilebranch/btn_search.png) no-repeat 3.6rem 2rem; background-size: 2.1rem 2.1rem; font-size: 0;}

.layer_address_result {overflow-y: auto; height: calc(100vh - 25.1rem); background: #f8f8f8; padding: 2rem;}
.layer_address_result > .box_type03 {margin-top: 1rem;}
.layer_address_result .result_none {margin-top: 4rem; padding-top: 7.5rem; background: url(/resource/images/mobilebranch/bg_search_none.png) no-repeat 50% 0; background-size: 5.7rem 5.7rem; font-size: 1.3rem; line-height: 2rem; letter-spacing: -0.25px; font-weight: 300; text-align: center;}

@media all and (min-width:376px) {
	html{font-size: 72.5%;}

	.layer_address_result {
		height: calc(100vh - 25rem);
	}
}


/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: auto;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Slider */
.slick-loading .slick-list
{
    /* background: #fff url('./resource/js/jquery.mobile/images/ajax-loader.gif') center center no-repeat; */
}

/* Arrows */
.slick-prev, .slick-next, .slick-arrow {display:none}
/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}
.main .slick-dots {bottom:0;}
.main .slick-dotted.slick-slider {margin-bottom:0}

.slick-dots
{
    position: absolute;
    bottom: -33px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 2px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
   position: absolute;
    top: 0;
    left: 0;

    width: 15px;
    height: 3px;

    content: '';
    text-align: center;

    background: #ddd;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li:nth-child(1).slick-active button:before {background:#ff6c75;}
.slick-dots li:nth-child(2).slick-active button:before {background:#5e79b6;}
.slick-dots li:nth-child(3).slick-active button:before {background:#ff8302;}
.slick-dots li:nth-child(4).slick-active button:before {background:#888;}
.slick-dots li:nth-child(5).slick-active button:before {background:#1db69c;}

.main .slick-dots li button:before
{
   position: absolute;
    top: 0;
    left: 0;

    width: 7px;
    height: 7px;
    border-radius:50%;

    content: '';
    text-align: center;

    background: #ccc;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.main .slick-dots li.slick-active button:before {background:#30c2dd !important;}


/* 190926 추가 */
.txtAlignL{text-align: left !important;}
.margB5r{margin-bottom: 1.5rem;}
.margT2r{margin-top: 2rem;}
.margT4r{margin-top: 4rem;}
.checkbox_type01 .txt_type01{background: none; font-size: 1.5rem; letter-spacing: -1px;}
@media (max-width: 320px){
	.checkbox_type01 .txt_type01{padding-top: 0;}
}

/* 190927 추가 */
.chk_new_view{display: none;}

input.input_txt.address {padding-right: 4rem;}
input.input_txt.address +span{margin-left: -3rem;}
.layer_agree_txt01.rememeber{margin-top: 1rem}
.layer_agree_txt01.rememeber p{ font-size: 1.6rem; line-height: 2.4rem; text-align: center;}
.layer_agree_txt01.rememeber p+p{margin-top: 1rem}
.font-color01{color: #009b9d !important;}
.icon-warning{padding-left: 3rem; background: url(/resource/images/mobilebranch/icon_warning.png) no-repeat .5rem center; background-size: 2rem; }



.dimm {position:absolute;top:-200px;left:0;bottom:-200px;right:0;z-index:1002;background:#000000 !important;opacity:0.80;filter:alpha(opacity=80)}
.loaing {z-index:1003;position:absolute;top:50%;left:50%;width:150px;height:150px;margin-top:-75px;margin-left:-75px;}
p.none{display:none !important;}
.staus_txt {z-index:1003;position:absolute;top:50%;left:0;width:100%;margin-top:90px;}
.staus_txt p {color:#fff;text-align:center}
::-webkit-scrollbar {display:none;}


.txt_type_nw1{margin-top: 1rem; font-size: 1.3rem; color: #666; letter-spacing: -0.25px; font-weight: 300; line-height: 2.2rem; text-align: center;}
.txt_type_nw1 strong {font-size: 2.3rem; color: #000; font-weight: 500;}
.txt_type_nw1 .bl_spa{display: block; padding-top: 0.625rem;}

.txt_type_nw1{margin-top: 1rem; font-size: 1.3rem; color: #666; letter-spacing: -0.25px; font-weight: 300; line-height: 2.2rem; text-align: center;}
.txt_type_nw1 strong {font-size: 2.3rem; color: #000; font-weight: 500;}
.txt_type_nw1 .bl_spa{display: block; padding-top: 0.625rem;}
.typeSelectArea{padding:0 2.5rem 2.5rem}
.typeChoose{padding-bottom: 1.5rem;}
.typeChoose::after{content: ''; display: block; clear: both;}
.typeChoose li{float: left; border-bottom: 0.2rem solid #eeeeee; width: 50%; line-height: 4.8rem; text-align: center; box-sizing: border-box; }
.typeChoose li a{display: block; color: #909090;}
.typeChoose li.on{border-bottom: 0.2rem solid #009591;}
.typeChoose li span{font-size: 1.4rem;}
.typeChoose li.on span{color: #009591;}
.layer_wrap .typeSelectArea .list_select{position: relative;}
.layer_wrap .typeSelectArea .list_select:last-child{display: none;}
.layer_wrap .typeSelectArea .list_select li{float: left; width: 49%;}
.layer_wrap .typeSelectArea .list_select li:nth-child(even){margin-left: 0.5rem; margin-bottom: 0.5rem;}
.layer_wrap .typeSelectArea .list_select li button{border: 0.1rem solid #eeeeee; height: 5rem; background: #fafafa; text-align: left; font-size: 1.2rem;}
.layer_wrap .typeSelectArea .list_select li button::before{ content: ''; display: inline-block; margin-right: 0.5rem; margin-left: 2rem; vertical-align: middle; width:2.5rem; height: 2.5rem; background: url(/resource/images/mobilebranch/ico_sp_bank.png) 0 0 no-repeat; background-size: 95px 340px;}
.layer_wrap .typeSelectArea > #tabBank > li > button:before{background-position: 0 0rem;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_081:before{background-position: 0 0rem;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_081:before{background-position: 0 0;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_004:before{background-position: 0 -35px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_020:before{background-position: 0 -70px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_088:before{background-position: 0 -105px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_003:before{background-position: 0 -140px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_031:before{background-position: 0 -175px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_039:before{background-position: 0 -210px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_032:before{background-position: 0 -210px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_034:before{background-position: 0 -280px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_037:before{background-position: 0 -280px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_035:before{background-position: -35px 0;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_011:before{background-position: -35px -35px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_002:before{background-position: -35px -70px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_007:before{background-position: -35px -105px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_027:before{background-position: -35px -140px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_023:before{background-position: -35px -175px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_054:before{background-position: -35px -210px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_055:before{background-position: -35px -245px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_060:before{background-position: -35px -280px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_057:before{background-position: -35px -315px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_062:before{background-position: -70px 0;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_061:before{background-position: -70px -35px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_071:before{background-position: -70px -70px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_089:before{background-position: -70px -105px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_090:before{background-position: -70px -140px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_064:before{background-position: -70px -175px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_050:before{background-position: -70px -210px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_045:before{background-position: -70px -245px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_048:before{background-position: -70px -280px;}
.layer_wrap .typeSelectArea > #tabBank > li .sp_067:before{background-position: -70px -315px;}
.layer_wrap .typeSelectArea > #tabStock > li > button:before {background:url(/resource/images/mobilebranch/ico_sp_stock.png) 0 0 no-repeat; background-size: 57px 445px;}
.layer_wrap .typeSelectArea > #tabStock > li .sp_261:before{background-position: 0 0;}
.layer_wrap .typeSelectArea > #tabStock > li .sp_267:before{background-position: 0 -35px;}
.layer_wrap .typeSelectArea > #tabStock > li .sp_238:before{background-position: 0 -70px;}
.layer_wrap .typeSelectArea > #tabStock > li .sp_279:before{background-position: 0 -105px;}
.layer_wrap .typeSelectArea > #tabStock > li .sp_209:before{background-position: 0 -140px;}
.layer_wrap .typeSelectArea > #tabStock > li .sp_287:before{background-position: 0 -175px;}
.layer_wrap .typeSelectArea > #tabStock > li .sp_290:before{background-position: 0 -210px;}
.layer_wrap .typeSelectArea > #tabStock > li .sp_240:before{background-position: 0 -245px;}
.layer_wrap .typeSelectArea > #tabStock > li .sp_291:before{background-position: 0 -280px;}
.layer_wrap .typeSelectArea > #tabStock > li .sp_278:before{background-position: 0 -315px;}
.layer_wrap .typeSelectArea > #tabStock > li .sp_247:before{background-position: 0 -350px;}
.layer_wrap .typeSelectArea > #tabStock > li .sp_280:before{background-position: 0 -385px;}
.layer_wrap .typeSelectArea > #tabStock > li .sp_264:before{background-position: 0 -420px;}
.layer_wrap .typeSelectArea > #tabStock > li .sp_270:before{background-position: -32px 0;}
.layer_wrap .typeSelectArea > #tabStock > li .sp_262:before{background-position: -32px -35px;}
.layer_wrap .typeSelectArea > #tabStock > li .sp_243:before{background-position: -32px -70px;}
.layer_wrap .typeSelectArea > #tabStock > li .sp_269:before{background-position: -32px -105px;}
.layer_wrap .typeSelectArea > #tabStock > li .sp_218:before{background-position: -32px -140px;}
.layer_wrap .typeSelectArea > #tabStock > li .sp_265:before{background-position: -32px -175px;}
.layer_wrap .typeSelectArea > #tabStock > li .sp_263:before{background-position: -32px -210px;}
.layer_wrap .typeSelectArea > #tabStock > li .sp_292:before{background-position: -32px -245px;}
.layer_wrap .typeSelectArea > #tabStock > li .sp_266:before{background-position: -32px -280px;}
.layer_wrap .typeSelectArea > #tabStock > li .sp_294:before{background-position: -32px -315px;}
.layer_wrap .typeSelectArea > #tabStock > li .sp_227:before{background-position: -32px -350px;}


.pin {-webkit-text-security:disc;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance:none;
	margin: 0;	
}


/* 1911 */
button.selectbox2 {width: 100%; min-width: calc(50% - 1.5rem); height: 4rem; padding-right: 2.5rem; background: url(/resource/images/mobilebranch/icon_arrow_1113.png) no-repeat right 50%; background-size: 0.6rem 1.1rem; border-bottom: 1px solid #ddd; font-size: 2rem; font-weight: 300; color: #999; text-align: left;}
.list_type_shp{padding-top: 0;}
.list_type_shp li{display: block; margin-top: 0;}
.list_type_shp .tit_shp{display: block; width: 100%; font-size: 1.5rem; color: #333; font-weight: 600;}
.list_type_shp .txt_shp{display: block; width: 100%; padding-top: 1.5rem; font-size: 1.3rem; color: #333;}

.layer_address_result_nw{height: calc(100vh - 22.6rem);}

/* 안내메세지 죄출정렬 */
.txt_align_left {text-align:left !important;}



header {position: fixed; width: 100%; min-height: 50px; height: auto; padding: 0 2rem; padding-top: max(20px, env(safe-area-inset-top));  background: #fff; z-index: 1;}
 header h1 {padding: 20px 0; font-size: 1.7rem; font-weight: 600; text-align: center; color: #000;}
 header .prev_link {position: absolute; left: 2rem; top: 22px; width: 22px; height: 16px; margin-top: 0; margin-top: max(20px, env(safe-area-inset-top));  background: url(/resource/images/mobilebranch/btn_header_prev.png) no-repeat 50% 50%; background-size: 22px 16px; font-size: 0;}
 header .btn_close{top: 22px; margin-top: 0; margin-top: max(20px, env(safe-area-inset-top)); width: 17px; height: 17px; background: url(/resource/images/mobilebranch/btn_close01.png) no-repeat 50% 50%; background-size: 17px 17px;}
 .content{padding-top: 80px;}
body{background-color: #fff;}



.full_layer_wrap {display: none; position: fixed; left: 0; top:0; width: 100%; height: 100%; background: #fff; z-index: 1;}
.full_layer_wrap .full_layer_header {position: fixed; width: 100%; min-height: 50px; height: auto; padding: 0 2rem; padding-top: max(20px, env(safe-area-inset-top));  background: #fff; z-index: 1;}
.full_layer_wrap .full_layer_header h1{padding: 20px 0; font-size: 1.7rem; font-weight: 600; text-align: center; color: #000; z-index: 1;}
.full_layer_wrap .full_layer_header .btn_close {top: 22px; margin-top: 0; margin-top: max(20px, env(safe-area-inset-top)); width: 17px; height: 17px; background: url(/resource/images/mobilebranch/btn_close01.png) no-repeat 50% 50%; background-size: 17px 17px; z-index: 1;}

.layer_address_search{padding-top: 110px;}


/* 로딩 */
.loading_play{position: fixed; top: 0; left: 0; z-index: 10; display: flex; width: 100%; height: 100%; align-items: center; justify-content: center;}
.loading_play > span{}

/* 2019-11-26 */
.mt25{margin-top: 2.5rem !important;}

/* 2019-11-29 페이지 로딩 */
.loading_paging{position: fixed; top: 0; left: 0; z-index: 10; display: flex; width: 100%; height: 100%; align-items: center; justify-content: center; opacity: 0.5;}
.loading_paging > span{width: 88px; height: 88px;}
.loading_paging > span > img{width: 100%;}

/* 2019-12-02 safe-area // 2020-01-16 수정*/
header {/* position: fixed; width: 100%; min-height: 50px; height: auto; */ padding: 0 2rem; padding-top: env(safe-area-inset-top); background: #fff;}
header h1 {padding: 20px 0; font-size: 1.7rem; font-weight: 600; text-align: center; color: #000;}
header .prev_link {/*position: absolute; left: 2rem;  top: 22px; width: 22px; height: 16px; margin-top: 0; */ margin-top: env(safe-area-inset-top); /* background: url(../images/btn_header_prev.png) no-repeat 50% 50%; background-size: 22px 16px; font-size: 0; */}
header .btn_close{margin-top: env(safe-area-inset-top); /* top: 22px; margin-top: 0; margin-top: max(20px, env(safe-area-inset-top)); width: 17px; height: 17px; background: url(../images/btn_close01.png) no-repeat 50% 50%; background-size: 17px 17px; */}
.content{padding-top: 110px;}
body{background-color: #fff;}
.layer_address_search{padding-top: 110px;}

/* 알뜰폰 2019-12-19 */
.sel_a_phoneType .selectbox{display: none;}
.sel_a_phoneType .selectbox.on{display: block;}


/* 대환프로세스 2020-01-22 추가 */
.txt_inbox{padding-top: 3rem; text-align: center;}
.txt_inbox > p{font-size: 2rem; line-height: 3.3rem;}
.txt_inbox .btn_area{}
.mt2{margin-top: 2rem;}
.mglr0{margin-left: 0; margin-right: 0;}
.mt0{margin-top: 0;}
.posR{position: relative;}
.lettLm1{letter-spacing: -1px;}
.txt_type_sdes{padding-top: 0.5rem; font-size: 1.3rem; color: #332; text-align: left; line-height: 1.8rem;}
.list_type02_star > li{position: relative; margin-top: 1.6rem; padding-left: 14px; text-indent: 0;color: #e2136b; font-size: 1.3rem; letter-spacing: -0.25px; line-height: 2rem;}
.list_type02_star > li:after{content: '※'; position: absolute; left: 0; top: 0;}
.box_type04.afterNon:after{display: none;}
.txt_type11_2 {margin-top: 2rem; font-size: 1.3rem; line-height: 2rem; letter-spacing: -0.25px; color: #777; text-align: center;}

.box_type01 .nw_agree_txt01{position: relative;}
.box_type01 .nw_agree_txt01 input{position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.box_type01 .nw_agree_txt01 input + label{overflow: hidden; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(/resource/images/mobilebranch/icon_check02_off.png) no-repeat 1.4rem 1.1rem; background-size: 3rem 3rem; text-indent: -9999px;}
.box_type01 .nw_agree_txt01 input + label.on {z-index: 1;}
.box_type01 .nw_agree_txt01 input:checked + label{background: url(/resource/images/mobilebranch/icon_check02_on.png) no-repeat 1.4rem 1.1rem; background-size: 3rem 3rem;}
.box_type01 .nw_agree_txt01 p {position: relative; height: 5.3rem; padding: 0 2rem; font-size: 1.7rem; color: #000; line-height: 5.3rem;}
.box_type01 .nw_agree_txt01 input + p {text-align: center;}
.box_type01 .nw_agree_txt01 p:after {content: ''; position: absolute; right: 2rem; top: 2rem; width: 0.7rem; height: 1.2rem; background: url(/resource/images/mobilebranch/icon_arrow01.png) no-repeat 0 0; background-size: 0.7rem 1.2rem;}
.box_type01 .nw_agree_txt01 .sldClass{text-align: center;}
.box_type01 .nw_agree_txt01 .sldClass:after{top: 2.2rem; width: 1.2rem; height: 0.7rem; background: url(/resource/images/mobilebranch/icon_arrow06.png) no-repeat 0 0; background-size: 100% 100%;}
.box_type01 .nw_agree_txt01 .sldClass.on:after{background: url(/resource/images/mobilebranch/icon_arrow06_on.png) no-repeat 0 0; background-size: 100% 100%;}
.box_type01 .nw_agree_txt01 .slide_check{width: 85%; height: 5.3rem; z-index: 1;}

.txt_nw_des1{margin-top: 3rem; margin-bottom: 2rem; padding: 3rem 1.9rem; background: #fff; border: 1px solid #ddd; border-radius: 0.6rem; text-align: center;}
.txt_nw_des1 .des_t1{display: block; padding-bottom: 1.5rem; font-size: 2rem; color: #009b9d; font-weight: normal;}
.txt_nw_des1 .des_t2{font-size: 1.3rem; line-height: 1.4;}

.box_type02 .txt_nw1{margin-bottom: 2rem; padding-bottom: 1.7rem; border-bottom: 1px solid #ddd; line-height: 1.3; font-size: 1.4rem; color: #333; text-align: center;}
.box_type02 .txt_nw2{padding-bottom: 1.4rem; font-size: 1.6rem; color: #000; font-weight: 600; text-align: center;}
.box_type02 .txt_nw2_2{padding-top: 1rem; padding-bottom: 1.4rem; font-size: 1.6rem; color: #000; font-weight: 600; text-align: center;}
.box_type02 .txt_nw3{padding-bottom: 1.4rem; font-size: 1.3rem; color: #333; text-align: center;}
.box_type02 .mtT0{margin-top: 0;}
.box_type02 .f16{font-size: 1.6rem;}
.box_type02.mtT45{margin-top: 4.5rem;}
.box_type02.mtT3{margin-top: 3rem;}
.box_type02.bdrD{border: 1px solid #ddd;}
.fontNor{font-weight: normal;}
.content{padding-top: 7rem;}
.col_nw{color: #009b9d;}
.col_nw2{color: #999;}
.paddT6{padding-top: 6rem !important;}
.mtT1{margin-top: 1rem !important;}
.mtT2{margin-top: 2rem !important;}
.mtT4{margin-top: 4rem !important;}
.txt_type01.f13{font-size: 1.3rem;}
.list_type02_star .mtT0{margin-top: 0;}

.txt_nw_desTop{position: absolute; top: 5rem; left: 0; width: 100%; height: 20rem; border-bottom: 10px solid #f6f6f6; background: url(/resource/images/mobilebranch/bg_dh1.png) no-repeat 50% 70%; background-size: 13.3rem 9.35rem;}
.txt_nw_desTop > p{font-size: 2.2rem; color: #009b9d; text-align: center; line-height: 1.2;}
.txt_nw_desTop > p > strong{display: block;}

.area_nw_chk{padding-top: 22rem;}
.area_nw_chk .tit_chk_t{display: block; font-size: 1.8rem; font-weight: 600; color: #000; text-align: center; vertical-align: middle;}
.area_nw_chk .tit_chk_t:before{content: ''; display: inline-block; width: 2rem; height: 2rem; margin-right: 1rem; background: url(/resource/images/mobilebranch/icon_warning.png) no-repeat 0 0; background-size: 100%; vertical-align: middle;}
.area_nw_chk .in_txt{padding-top: 3rem; font-size: 1.3rem; color: #000; line-height: 1.4;}
.area_nw_chk .in_txt_min{padding-top: 3rem; font-size: 1.3rem; color: #777;}
.area_nw_chk .txt_nw_list1{margin-top: 3rem; margin-bottom: 2rem; padding: 2.5rem 2.5rem; background: #fff; border: 1px solid #ddd; border-radius: 0.6rem;}
.area_nw_chk .txt_nw_list1 > li{position: relative; margin-top: 1rem; padding-left: 1.5rem; line-height: 1.4; font-size: 1.3rem; color: #777;}
.area_nw_chk .txt_nw_list1 > li:first-child{margin-top: 0;}
.area_nw_chk .txt_nw_list1 > li .num_l{position: absolute; top: 0; left: 0;}

.nw_type16{padding-top: 15.6rem; background: url(/resource/images/mobilebranch/bg02.png) no-repeat 50% 3rem; background-size: 13.3rem 9.3rem;}

.nw_list_type01{overflow: hidden; padding: 0 1rem;}
.nw_list_type01 li{display: block; float: left; width: 50%;}
.nw_list_type01 li .tit{display: block; text-align: center;}
.nw_list_type01 li .txt{display: block; font-size: 1.8rem; padding-top: 1.3rem; text-align: center;}
.nw_list_type01 li .txt.txt_gren{color: #009b9d;}
.nw_list_type01 li:nth-child(2) .tit{padding-left: 2rem;}
.nw_list_type01 li:nth-child(2) .txt{padding-left: 2rem;}
 
.layer_wrap .layer_container.layer_scroll{height: 95%;}
.layer_wrap .layer_container.layer_scroll .layer_cont_scroll{overflow-y: auto; height: 70%; padding-top: 0;}
.layer_wrap .layer_container.layer_scroll_nor{height: 90%;}
.layer_wrap .layer_container.layer_scroll_nor .layer_txt01{padding-top: 5rem; padding-right: 2rem; padding-left: 2rem;}
.layer_wrap .layer_container.layer_scroll_nor .layer_txt03{padding-right: 2rem; padding-left: 2rem;}
.layer_wrap .layer_container.layer_scroll_nor .layer_cont_scroll{overflow-y: auto; height: 63%; padding-top: 0;}
.layer_wrap .layer_container.layer_scroll_bBt .layer_cont{padding-bottom: 10rem;}
.layer_wrap .layer_container.layer_scroll_bBt .layer_txt01{padding-top: 5rem; padding-right: 2rem; padding-left: 2rem;}
.layer_wrap .layer_container.layer_scroll_bBt .layer_txt02{padding-right: 2rem; padding-left: 2rem;}
.layer_wrap .layer_container .layer_txt_nw1{display: block; padding-top: 3rem; font-size: 1.6rem; text-align: center; color: #000; font-weight: 600;}
.layer_wrap .layer_container .layer_txt_nw2{display: block; padding-top: 1.6rem; padding-bottom: 2rem; font-size: 1.3rem; text-align: center; color: #999;}
.layer_wrap .layer_nw_box1 .list_type06 li .txt_cont{padding: 0 0;}
.layer_wrap .layer_nw_box1 .list_type06 li .checkbox input[type=checkbox]{top: 2rem;}
.layer_wrap .layer_nw_box1 .list_type06 li .checkbox p{height: 6.8rem; padding: 2.2rem 0 0 6rem;}
.layer_wrap .layer_nw_box1 .list_type06 li .checkbox .txt_r_mny{position: absolute; top: 2.4rem; right: 1.7rem; font-size: 1.8rem; color: #777; text-align: right;}
.layer_wrap .layer_nw_box1 .list_type06 li .checkbox input[type=checkbox]:checked + p .txt_r_mny{color: #000;}
.layer_wrap .layer_nw_box2{padding: 3rem 0 0 0;}
.layer_wrap .layer_nw_box2 > dl{padding: 0 1.6rem;}
.layer_wrap .layer_nw_box2 > dl > dt{display: block; position: relative; margin-bottom: 1rem; padding-left: 2.3rem; font-size: 1.5rem; color: #009b9d; vertical-align: middle;}
.layer_wrap .layer_nw_box2 > dl > dt:before{content: ''; display: block; position: absolute; top: 0; left: 0; width: 1.7rem; height: 1.7rem; margin-right: 0.4rem; background: url(/resource/images/mobilebranch/icon_des_n1.png) no-repeat 0 0; background-size: 100% 100%; vertical-align: middle;}
.layer_wrap .layer_nw_box2 > dl > dd{display: block; margin-bottom: 2rem; font-size: 1.3rem; line-height: 1.4;}
.layer_wrap .layer_nw_box2 > dl > dd:last-child{margin-bottom: 0;}
.layer_wrap .layer_container .btn_area.posFix{position: fixed; bottom: 2rem; left: 0; width: 100%; padding: 0 2rem;}
.layer_wrap .layer_container .btn_area.posFix2{position: fixed; bottom: 2rem; left: 0; width: 100%; padding: 0 2rem;}
.layer_wrap .layer_container .btn_area_type01.posFix .btn_type03{width: calc(50% - 0.3rem);}
.layer_wrap .layer_container .btn_area_type01.posFix .btn_type01{width: calc(50% - 0.3rem);}
.layer_agree_txt01.rememeber p .txt_gren{color: #009b9d;}
.layer_agree_txt01.rememeber p .txt_gren.fbold{font-weight: bold;}

@media all and (max-width:320px) {
	.iphone5 .btn_type01{font-size: 1.4rem;}
	.layer_wrap .layer_nw_box1 .list_type06 li .checkbox p{padding-left: 6rem;}
	.layer_wrap .layer_nw_box1 .list_type06 li .checkbox p em{font-size: 1.5rem; line-height: 2rem;}
	.layer_wrap .layer_nw_box1 .list_type06 li .checkbox .txt_r_mny{font-size: 1.5rem;}
	.layer_wrap .layer_container.layer_scroll .layer_cont_scroll{height: 63%;}
	.layer_wrap .layer_container.layer_scroll_bBt{height: 95%;}
	.layer_wrap .layer_container.layer_scroll_bBt .layer_cont{overflow-y: auto; height: 90%; padding-bottom: 19rem;}
	.layer_wrap .layer_container.layer_scroll_nor .layer_cont_scroll{height: 60%;}
	.lettMinIp5{letter-spacing: -1px;}
	.ip5fS1{font-size: 1rem !important;}

	.nw_list_type01 li .txt{font-size: 1.4rem;}
}

/* 2020-05-26 */
.txt_star { font-size: 1.3rem; color: #009b9d;}
.txt_star img {width: 1rem; vertical-align: middle;} 